{{ define "stylesheets" }}
{{ partial "dartscss" (dict "path" "css/list-grid.scss") }}
{{ end }}

{{ define "body" }}
<body>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  {{ partial "header.html" . }}
  {{ $paginate := .Paginate .Pages (default 15 .Site.Params.paginate.projects) }}
  {{ $pages := $paginate.Pages }}
  {{ if $pages }}
  <main id="main-content" class="grid-container">
    {{ range $pages }} 
      {{ .Render "summary" }}
    {{ end }}
  </main>
  {{ partial "pagination.html" (dict "paginate" $paginate) }}
  {{ else }}
    <div class="empty-post-container">
      <span><em>Nothing here. Maybe check back soon?</em></span>
    </div>
  </main>
  {{ end }}
  {{ partial "footer.html" . }}
</body>
{{ end }}
