<div class="quicklinks-container-large">
  <a href="/rss.xml" data-tooltip="RSS" data-placement="bottom">
    <img class="img-primary" src="/img/rss.svg" alt="RSS" />
  </a>
  <a href="/blog" data-tooltip="Blog" data-placement="bottom">
    <img class="img-primary" src="/img/post.svg" alt="Blog" />
  </a>
  <a href="/projects" data-tooltip="Projects" data-placement="bottom">
    <img class="img-primary" src="/img/code-brackets.svg" alt="Projects" />
  </a>
  <a href="/about" data-tooltip="About" data-placement="bottom">
    <img class="img-primary" src="/img/info-circle.svg" alt="About" />
  </a>
  <a href="/" data-tooltip="Home" data-placement="bottom">
    <img class="img-primary" src="/img/home.svg" alt="Home" />
  </a>
  <a class="depend-js" href="#" title="Toggle Theme" onclick="toggleTheme()">
    <img class="img-primary icon-switch-theme" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Toggle Theme"/>
  </a>
</div>
<details class="quicklinks-container">
  <summary class="quicklinks-summary">
    <img class="img-primary" src="/img/menu.svg" alt="Menu" />
  </summary>
  <ul class="quicklinks-list">
    <li class="quicklinks-list-top">
      <a href="/">
        <span>
          <img class="img-primary" src="/img/home.svg" alt aria-hidden="true" />
          Home
        </span>
      </a>
    </li>
    <li>
      <a href="/blog">
        <span>
          <img class="img-primary" src="/img/post.svg" alt aria-hidden="true" />
          Blog
        </span>
      </a>
    </li>
    <li>
      <a href="/projects">
        <span>
          <img class="img-primary" src="/img/code-brackets.svg" alt aria-hidden="true" />
          Projects
        </span>
      </a>
    </li>
    <li>
      <a href="/rss.xml">
        <span>
          <img class="img-primary" src="/img/rss.svg" alt aria-hidden="true" />
          RSS
        </span>
      </a>
    </li>
    <li>
      <a href="/about">
        <span>
          <img class="img-primary" src="/img/info-circle.svg" alt aria-hidden="true" />
          About
        </span>
      </a>
    </li>
    <li class="depend-js">
      <a href="#" onclick="toggleTheme()">
        <span>
          <img class="img-primary icon-switch-theme" alt aria-hidden="true" />
          Theme
        </span>
      </a>
    </li>
  </ul>
</details>
