.thumbnail-image {
  width: 100%;
  height: fit-content;
  max-height: 150px;
  overflow: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin: 1.2rem 0rem;
}

@media (min-width: 481px) {
  .thumbnail-image {
    margin: 0rem 0rem;
  }
}