main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.taxonomy-block {
  border: 2px solid var(--pico-muted-color);  
  border-radius: 15px;
  margin: 7px;
  padding: 7px;
  text-align: center;
}
