{{ define "main" }}
<main class="container-fluid align-vcenter">
  <div>
    <div class="align-hcenter">
      <img class="icon-avatar" src="/homepage/avatar.png" />
    </div>
    <h1 class="text-center">rashlight</h1>
    <h3 class="text-center">code - cloud - computers</h3>
    <hr />
    <div class="align-hcenter">
      <!-- TODO: Add info and blog page
        <a href="/about" data-tooltip="About" data-placement="bottom">
        <img class="icon-primary" src="/homepage/info-circle.svg" alt="About" />
      </a>
      <a href="/blog" data-tooltip="Blog" data-placement="bottom">
        <img class="icon-primary" src="/homepage/post.svg" alt="Blog"/>
      </a>
      -->
      <a href="https://github.com/rashlight" data-tooltip="Github" data-placement="bottom"
        ><img class="icon-primary" src="/homepage/github.svg" alt="Github"
      /></a>
      <a href="https://linkedin.com/in/rashlight" data-tooltip="Linkedin" data-placement="bottom"
        ><img class="icon-primary" src="/homepage/linkedin.svg" alt="Linkedin"
      /></a>
      <a href="https://linktr.ee/rashlight" data-tooltip="Linktree" data-placement="bottom"
        ><img class="icon-primary" src="/homepage/tree.svg" alt="Linktree"
      /></a>
      <a href="mailto:andtf2002@gmail.com" data-tooltip="Contact" data-placement="bottom"
        ><img class="icon-primary" src="/homepage/mail.svg" alt="Email"
      /></a>
      <a href="/rss.xml" data-tooltip="RSS Feed" data-placement="bottom"
        ><img class="icon-primary" src="/rss.svg" alt="RSS Feed"
      /></a>
    </div>
  </div>
</main>
{{ end }}
