{{ define "storevars" }}
{{ .Store.Set "descriptionAlt" ( printf "showing all posts for: %s" .Title | lower ) }}
{{ end }}

{{ define "stylesheets" }} 
  {{ partial "dartscss" (dict "path" "css/list.scss") }} 
{{ end }} 

{{ define "scripts" }}
  {{ partial "scriptjs" (dict "path" "js/theme.js" "defer" true) }}
{{ end }}

{{ define "body" }}
<body>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  {{ partial "header.html" . }}
  <main id="main-content">
  {{ $paginate := .Paginate .Pages (default 10 .Site.Params.paginate.page) }}
  {{ $pages := $paginate.Pages }}
  {{ if $pages }}
    {{ range $pages }}
      {{ .Render "summary" }}
    {{ end }}
  </main>
  {{ if eq $paginate.PageNumber $paginate.TotalPages }}
  <div class="pagination-end">
    <p>----- end of list -----</p>
  </div>
  {{ end }}
  {{ partial "pagination.html" (dict "paginate" $paginate) }} 
  {{ else }}
    <div class="empty-post-container">
      <span><em>Nothing here. Maybe check back soon?</em></span>
    </div>
  </main>
  {{ end }}
  {{ partial "footer.html" . }}
</body>
{{ end }}