.align-vcenter {
  display: flex;
  height: 100vh;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
}

.align-hcenter {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.icon-avatar {
  width: 7.5rem;
  height: 7.5rem;
  margin: 1rem 0 1rem 0;
  clip-path: circle();
}

.icon-primary {
  max-width: 48px;
  max-height: 48px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.5rem 0 0.5rem;
}

/* Dark mode override */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-background-color: #0f1114;
  }

  hr {
    border-color: #2D3138;
  }

  .icon-primary {
    filter: invert(100%);
  }
}
